/* Landing component styles */

.landing-div {
    background-image: url("https://i.imgur.com/xZmTyjD.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    
}

.layer {
    background-color: rgba(0, 120, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 30px 5px #60ABFF;
    display: flex;
    justify-content: center;
}

.landing-content {
    align-items: center;
    color: white;
    position: absolute;
    top: 35%;
    text-align: center;
}

@keyframes slideInFromLeft {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.landing-content {
    animation: 1s ease-in-out 0s slideInFromLeft;
    
}

.landing-h {
    font-size: 70px;
    font-weight: 600;
    font-family: 'Yellowtail', cursive;
}

.landing-p {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.landing-btn {
    margin-top: 1em;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
    padding: 8px 50px;
}
.landing-btn:hover {
    border: 5px solid #0078FF;
    animation: .5s ease 0s makeBtnBigger forwards;
}

@keyframes makeBtnBigger {
    0% {
        padding: 8px 50px;
    }
    100% {
        padding: 8px 70px;
        border-radius: 20px;
    }
}
.landing-icon {
    margin-left: 10px;
}

/* landing nav styles */
.landing-nav {
    height: 10%;
    z-index: 9999;
    background: transparent;
    color: white;
}
#nav-brand-l {
    font-weight: 700;
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    color: #ffffff;
}
