.modal {
    height: 100%;
}
.modal-header {
    height: 100%;
    width: 100%;
    padding: 0;
}
.modal-img {
    max-width: 100%;
    max-height: 100%;
}
.modal-body {
    height: 100px;
    border: none;
}
.modal-body h2 {
    font-weight: 600;
    margin: 20px 0 10px 5px;
    color: #5B5B5B;
}
.modal-about {
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
    border-top: 1px solid rgba(0,0,0,.2);
}
.tech-used {
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
    border-top: 1px solid rgba(0,0,0,.2);
    margin-bottom: 20px;
}
.tech-used p {
    font-size: 24px;
    color: #5B5B5B;
    font-weight: 600;
    margin-top: 5px;
}
.modal-tech-used {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    align-items: center;
}

.tech-used-img {
    max-width: 25%;
    max-height: 100%;
    margin-right: 10px;
}
.express {
    max-height: 75%;
}
.mongo {
    max-height: 80%;
}
.modal-bottom {
    border: none;
}
.close {
    margin-right: 40px;
    font-size: 50px;
    margin-bottom: 10px;
}
.view-code-btn {
    background-color: #0078FF;
    margin-left: 30px;
    color: white;
    width: 150px;
    font-size: 18px;
    border: 2px solid #0078FF;
}
.view-code-btn:hover {
    color: #0078FF;
    animation: .5s ease-out 0s fadeOut forwards;
}
.view-code-icon{
    margin-left: 10px;
    font-size: 22px;
}

@keyframes fadeOut {
    0% {
        background-color: #0078FF;
    }
    100% {
        background-color: white;  
    }
}


.modal-header {
    height: 100%;
}
.carousel {
    height: 300px;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}
.carousel-img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}