/* Project section styles */
.projects-div {
    height: 100%;
}
.project-container {
    margin-top: 2%;
    height: 100%;
    animation: 1s ease-in 0s fadeIn;
    position: relative;
}
.h-div {
    right: 0%;
    position: relative;
}
.project-h {
    font-family: 'Yellowtail', cursive;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    animation: 1s ease-in-out 0s dropDown;
    
}
.row {
    height: 70%;
    margin: 0;
}
.img-div {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100%;
    background-size: 100% 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 2px #6C6C6C;
}

.workout {
    background-image: url("https://res.cloudinary.com/dz4rcplz8/image/upload/v1580947813/extra/Screenshot_from_2020-02-05_17-47-32_epizae.png");
}
.burger-stop {
    background-image: url("https://res.cloudinary.com/dz4rcplz8/image/upload/v1580947855/extra/Screenshot_from_2020-02-05_17-55-45_ydf7o5.png");
}
.blacktop-blog {
    background-image: url("https://res.cloudinary.com/dz4rcplz8/image/upload/v1580947796/extra/Screenshot_from_2020-02-05_17-32-31_ynlcft.png");
}
.workout:hover, .burger-stop:hover, .blacktop-blog:hover {
    background-image: none;
    background-color: #0078FF;
}



.img-div .project-title {
    display: none;
}
.img-div .see-more-btn {
    display: none;
}
.img-div:hover .project-title {
    display: block;
}
.img-div:hover .see-more-btn {
    display: block;
}

.hovered-div {
    padding: 0;
    margin: 0;
    background-color: white;
}
.invs-p{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    color: transparent;
}
.project-title {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    color: white;
    font-size: 40px;
    animation: .2s ease-in 0s dropDownTitle;
    font-weight: 600;
}
.invs-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20%;
    height: 35px;
    color: transparent;
    background-color: transparent;
}
.see-more-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    bottom: 30%;
    height: 60px;
    border-radius: 8px;
    width: 300px;
    color: #0078FF;
    background-color: white;
    font-weight: 600;
    animation: .2s ease-in 0s slideUpButton;
    border: 2px solid #0078FF;
    font-size: 20px;
}
.see-more-btn:hover{
    background-color: #0078FF;
    border: 2px solid white;
    color: white;
}
.modal {
    height: 600px;
}


@keyframes dropDownTitle {
    0% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideUpButton {
    0% {
        transform: translateY(400%);
    } 
    100% {
        transform: translateY(0%);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn1 {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
/* @media (max-width: 576px) {
    .img-div {
        height: 20%;
    }
} */

/* @media (min-width: 576px){
    .img-div {
        height: 60%;
    }
} */

/* @media (max-width: 576px){
    .img-div {
        margin-bottom: 20px;
        height: 30%;
    }
}*/