body {
    background: #FFE000;
    color: #006bb6;
}
/* Navbar only styles */
.nav-custom {
    background: #006bb6;
    height: 80px;
    padding-bottom: 25px;
    color: #FFE000;
}
.navbar-container{
    display: flex;
    align-items: center;
}
.nav-right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navbar-brand {
    font-weight: 500;
    padding-top: 20px;
}
.list-item {
    padding: 0 .5em;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
.list-item:hover {
    cursor: pointer;
}
.code-icon {
    font-size: 25px;
}
.under-h-p {
    font-size: 13px;
    margin-left: 40px;
}

/* Jumbotron only styles */
.jumbo {
    text-align: center;
    align-items: center;
    padding: 10em 0 10em 0;
    background-color: #FFE000;
}
.btn-jumbo {
    background: #006bb6;
    margin: 1em;
    color: #FFE000;
}
.jumbo-heading {
    font-size: 60px;
}

/* hexagon only styles */
.hexagon {
    position: relative;
    width: 200px;
    height: 100px;
    background: #006bb6;
    margin: 80px auto;
    align-items: center;
}
.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.hexagon::before {
    bottom: 100%;
    border-bottom: 50px solid #006bb6;
}
.hexagon::after {
    top: 100%;
    border-top: 50px solid #006bb6;
}
.hex-heading {
    text-align: center;
    margin-bottom: .5em;
}
.hex-text {
    padding: 0 2em 0 2em;
    text-align: center;
}



/* Project section styles */
.one-project {
    background-color: #006bb6;
    color: #FFE000;
    margin: 2em 0 2em 0;
}
.btn-view {
    margin: 0 1em;
    background: #FFE000;
    color: #006bb6;
}
.project-header {
    text-align: center;
    padding-bottom: .5em;
    border-bottom: 3px solid #3AE384;
}
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: white;
}
.responsive {
    position: absolute;
    top: 20%;
    left: 20%;
    margin-right: -50%;
    font-size: 3.5em;
    color: white;
}
.right {
    padding-left: 1em;
    margin-left: .5em;
}
.tech-used {
    display: flex;
}
.tech-list {
    list-style: none;
    font-size: 18px;
    margin-left: 1.5em;
    margin: 1em 1em 1.5em .5em;
}
.card-body {
    font-size: 25px;
}
.card-title {
    font-size: 50px;
}
.img-fluid {
    border: 2px solid #FFE000;
}

/* Contact form */
.btn-contact {
    background: #fdb927;
    color: #006bb6;
    width: 15em;
    font-weight: 600;
}



/* botttom of page */
.bottom {
    font-size: 2em;
    color: #006bb6;
    text-align: center;
    margin: 1em;
}