body, html{
    background: #ffffff;
    color: #006bb6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
}
.main-div {
    height: 100%;
}

/* react css transition group styles */
.switch-enter {
    opacity: 0.01;
}
.switch-enter.switch-enter-active{
    opacity: 1;
    transition: opacity 800ms ease-in;
}
.switch-leave {
    opacity: 1;
}
.switch-leave.switch-leave-active{
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}














